{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-3">
      <h3>Filtre</h3>
        {{ form(form) }}
    </div>
    
    <div class="col-md-9">
      <h1 class="text-center my-4"> Nos produits </h1>
        <div class="row ">
          {% for product in products %}
            {% if product.activate == 1 %}
              <div class="col-md-4 mb-2">
                <div class="item text-center border border-top-0 my-4">
	                <a href="{{ path('app_product_show', {'slug': product.slug}) }}">
	                	<img class="img-fluid" src="./uploads/{{ product.illustration }}" alt="{{ product.name }}">
	                </a>
	                <h5>{{ product.name }}</h5>
	                <span>{{ product.subtitle }}</span>
	                <br>
	                <span class="">
	                	<strong>{{ (product.price / 100)|number_format(2, ',', '.') }}
	                		€</strong>
	                </span>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
    
  </div>

{% endblock %}
